div.container
  div.row
    div.col.m12
      h1.center-align= section.resume[lng].title
  div.col.m12
    ul(data-collapsible="accordion").collapsible.popout
      for position in section.resume[lng].position
        li
          div.collapsible-header= position.position + ' at ' + position.company
          div.collapsible-body
            div.place-period= position.place + ' - ' + position.period
            span= position.description
div.center-align
  a.waves-effect.waves-light.btn-large(href='#{section.resume[lng].call_to_action.href}')= section.resume[lng].call_to_action.title
